{
  "servicesCredentials": {
    "instance-name-prod": {
      "someService": {
        "username": "user_prod",
        "password": "prod_pass"
      }
    },
    "instance-name-dev": {
      "someService": {
        "username": "user_dev",
        "password": "dev_pass"
      }
    },
    "rds-name-prod": {
      "dbOne": {
        "username": "user_prod",
        "dbName": "db_prod",
        "password": "prod_pass"
      },
      "dbTwo": {
        "username": "user_prod",
        "dbName": "db_prod",
        "password": "prod_pass"
      }
    },
    "rds-name-dev": {
      "dbOne": {
        "username": "user_dev",
        "dbName": "db_dev",
        "password": "dev_pass"
      },
      "dbTwo": {
        "username": "user_dev",
        "dbName": "db_dev",
        "password": "dev_pass"
      }
    }
  }
}
